<h1>WDI DT 44: A Series</h1>

<div class="gallery">
    <% @photos.each do |photo| %>
      <div class="image-container">
        <%= (image_tag photo.image_url, {width: 400}) %>
      </div>
      <br>
    <% end %>
</div>
